<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>雇用契約書_印刷確認</title>
</head>
<body>
    <form action="{% url 'EmpRenew:edit' %}" method="post">{% csrf_token %}
        <table>
            <tr><td>タイトル</td>
        </table>
    {% for disp in display %}
        <div>
            <p>CD@@@{{ disp.tdm0101_shain_cd }}</p>
            <p>NAME@{{ disp.tdm0101_shain_nm }}</p>

        </div>
        {% endfor %}

        <input id = 'back' type="submit" value="BACK"/>
    </form>
</body>
</html>